streamlit
transformers>=4.46.0
torch>=2.0.0
pytesseract
pdf2image
Pillow
datasets
tensorflow>=2.15.0
torchvision
torchaudio
flax
numpy
opencv-python-headless
scipy
sentencepiece
accelerate
evaluate
tqdm
